.bottombar {
    height: 16px;
    width: 200px;
    margin-left: 8px;
    margin-top: 32px;
    border-radius: 24px;
    padding: 12px 37px 12px 37px;
    border: 1px solid #A2A2A2;


    color: #FAFAFA;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;


}

.chevrolet {
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: 128px;
    gap: 8px;

}

.bottomBarCaption {
    margin-left: -2px;
    display: flex;
    flex-direction: row;

}

.subscribe {
    margin-top: -3px;
    margin-left: 60px;
}