.card1 {
    height: 200px;
    width: 1070px;
    margin-left: 356px;
    margin-top: -686px;
    border-radius: 0px;
    position: relative;
    background: #1E1E1E;

}

.upperCards {
    width: 1070px;
    height: 148px;
    width: 1070px;
    left: 0px;
    top: 52px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    position: absolute;
    background: #1E1E1E;
    gap: 15px;
}

.mainCard {
    height: 148px;
    width: 201px;
    left: 0px;
    top: -20px;
    border-radius: 16px;
    padding: 10px;

    display: flex;


    display: flex;
    flex-direction: column;

}

.upperPart {
    display: flex;
    flex-direction: row;
    gap: 8px;


}

.image {
    height: 52px;
    width: 52px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

}

.title {



    font-family: Sharp Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;

}

.subTitle {
    height: 20px;
    width: 69px;
    left: 8px;
    top: 4px;
    border-radius: nullpx;
    color: #4BDFFF;
    font-family: Sharp Grotesk;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.lowerPart {
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.subHead {

    height: 20px;
    width: 87px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Sharp Grotesk;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #A2A2A2;
    display: inline-block;

    white-space: nowrap;

}

.subHead2 {

    font-family: Sharp Grotesk;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;
    ;
}

.namesHolder2 {
    height: 20px;
    width: 181px;
    left: 0px;
    top: 28px;
    border-radius: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.time {
    height: 20px;
    width: 87px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    color: #A2A2A2;
    font-family: Sharp Grotesk;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;


}

.points {

    font-family: Sharp Grotesk;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #19ED7B;


}

.namesHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}